.container {
    /* height: 100vh; */
    margin: 50px 0 50px 0;
}

.signupFormContainer {
    width: 24rem;
}

.signupFormLegend {
    width: 14rem;
    background: #dee2e6;
}

.errorMessage {
    font-size: 12px;
    letter-spacing: 0.05rem;
    padding-left: 0.25rem;
    color: red;
}
